{% extends 'base.html' %}
{% block content %}

<div class="jumbotron">
  <div class="container">
    <form method="post" action="{% url 'reviews:update' %}">
      
        {% csrf_token %}
        <div class="form-group">
        <label for="title">제목:</label>
        <input type="text" class="form-control" name="title" 
            id="title" value="{{ review.title }}">

        <label for="store_name">식당명:</label>
        <input type="text" class="form-control" name="store_name" 
            id="store_name" value="{{ review.store_name }}">
         </div>

        <div class="form-group">
            <label for="content">내용:</label>
        <textarea class="form-control" rows="10" name="content" 
            id="content">{{ review.content }}</textarea>
        </div>

        <button type="submit" id="complete" class="btn btn-primary btn-block">
            수정
        </button>
    </form>
  </div>
</div>

{% endblock %}