{% extends 'user/base.html' %}
{% block content %}

<div class="jumbotron">
    <div class="container" style="background-color:#ABE0A1; color:white; border-radius:10px; padding-bottom:60px; margin-top:30px;">
        <form method="post" action="{% url 'reviews:update' id=review.id %}" enctype="multipart/form-data">
      
            {% csrf_token %}
            <div class="form-group">
            <label for="title" style="font-size:150%; margin: 10px;">제목:</label>
            <input type="text" class="form-control" name="title" 
                id="title" value="{{ review.title }}" placeholder="제목을 입력하세요">
            </div>

            <div class="form-group">
            <label for="store_name" style="font-size:150%; margin: 10px;">식당명:</label>
            <input type="text" class="form-control" name="store_name" 
                id="store_name" value="{{ review.store_name }}" placeholder="식당명을 입력하세요">
            </div>

            <div class="form-group">
            <label for="body" style="font-size:150%; margin: 10px;">내용:</label>
            <textarea class="form-control" rows="10" name="body" 
                id="body" placeholder="내용을 입력하세요">{{ review.body }}</textarea>
            </div>

            <div style="margin:20px 20px 20px 0px;">
                <label for="file" style="font-size:120%; margin-right:10px">첨부 사진</label>
                <input type = "file" name = "file">
            </div>

            <div style="float:right;">
                <input type="submit" value="등록" class='btn btn-success' style="padding:10px 50px;">
                <input type="reset" value="취소" class='btn btn-success' style="padding:10px 50px;">
            </div>
        </form>
    </div>
</div>

{% endblock %}