{% extends "user/base2.html" %}
{% load static %}
{% block content %}

<div class="jumbotron">
    <div class="container" style="background-color:#98C138; color:white; border-radius:10px; padding-bottom:60px; margin-top:30px;">
        <form method="post" action="{% url 'reviews:write' %}" enctype="multipart/form-data">
            
            {% csrf_token %}
            <div class="form-group">
                <label for="title" style="font-size:150%; margin: 10px;">제목</label>
                <input type="text" class="form-control" name="title" id="title"
                    value="{{ form.title.value | default_if_none:'' }}" placeholder="제목을 입력하세요">
            </div>
            
            {% if form.title.errors %}
                <div class="alert alert-danger" role="alert">
                    {{form.title.errors}}
                </div>
            {% endif %}

            <div class="form-group">
                <label for="store_name" style="font-size:150%; margin: 10px;">식당명</label>
                <input type="text" class="form-control" name="store_name" id="store_name"
                    value="{{ form.store_name.value | default_if_none:'' }}" placeholder="식당명을 입력하세요">
            </div>

            {% if form.store_name.errors %}
                <div class="alert alert-danger" role="alert">
                    {{form.store_name.errors}}
                </div>
            {% endif %}

            <div class="form-group">
                <label for="body" style="font-size:150%; margin: 10px;">내용</label>
                <textarea class="form-control" rows="10" name="body" id="body"
                    value="{{ form.body.value | default_if_none:'' }}" placeholder="내용을 입력하세요"></textarea>
            </div>

            {% if form.body.errors %}
                <div class="alert alert-danger" role="alert">
                    {{form.body.errors}}
                </div>
            {% endif %}

            <div style="margin:20px 20px 20px 0px;">
                <label for="file" style="font-size:120%; margin-right:10px">첨부 사진</label>
                <input type = "file" id = "file">
            </div>

            <div style="float:right;">
            <input type="submit" value="등록" class='btn btn-success' style="padding:10px 50px;">
            <input type="reset" value="취소" class='btn btn-success' style="padding:10px 50px;">
            </div>
        </form>
    </div>
</div>


{% endblock %}