<html>

{% extends "user/base.html" %}
<head>
    <style>
        {% comment %} .table {
            margin: 10px;
            width: 50%;
        } {% endcomment %}

        .td {
            line-height: 130%;
        }
    </style>
</head>

<body>
{% block content %}
<div class="container">

    <h2 style="text-align:center; margin-top:50px; margin-bottom:20px"> {{ store.name }} </h2>

    <div id="map" style="width:50%; height: 30%;" class="container"></div>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAb_t3EJOEBsspFK2tkBTRJfbsVyrKJHl8&callback=initMap"></script>

    <script>
        function initMap() {
            var seoul = { lat: 37.5642135 ,lng: 127.0016985 };
            var map = new google.maps.Map(
                document.getElementById('map'), {
                zoom: 12,
                center: seoul
            });

        var geocoder = new google.maps.Geocoder();
        var address = "{{ store.address }}";
        
        geocoder.geocode({'address': address}, function(result, status) {
            console.log(result);
            console.log(status);

            if (status === 'OK') {
                map.setCenter(result[0].geometry.location);
                map.setZoom(18);

                var marker = new google.maps.Marker({
                    map: map,
                    position: result[0].geometry.location
                });

                console.log('latitude: ' + marker.position.lat());
                console.log('longitude: ' + marker.position.lng());
            } else {
                alert("Geocode failed due to this reason: " + status)
            }
        });
    }
    </script>

    <hr>

   
    <table class="table table-borderless">
        <colgroup>
            <col style="width:33%;">
            <col style="width:5%">
            <col style="width:68%;">
        </colgroup>

        <tr> 
            <td style="text-align:right;">전화번호</td>
            <td></td>
            <td>{{ store.phone }}</td>
        <tr> 

        <tr> 
            <td style="text-align:right;">주소</td>
            <td></td>
            <td>{{ store.address }}</td>
        <tr>

        <tr> 
            <td style="text-align:right;">메뉴</td>
            <td></td>
            <td>
                {% for m in store.menu_as_list %}
                    {{ m }}<br>
                {% endfor %}
            </td>
        <tr>
    </table>
</div>


{% endblock%}
</body>
</html>