{% extends "user/base2.html"%}
{% load static%}
{% block content %}
        
<div class="container" id="searchbar2">
    <div class="homesearch">
        <div>
            <p style='text-align: center' id="homep"> 
                <i class="fab fa-envira"></i> IT IS VEGAN?</p>
        </div>
        <div class="test">
        <table>
            
                <tr>
                    <td>
                        <input type="text"  placeholder="음식을 검색하세요"  autocomplete="off"  id="p" size="25" onkeyup="enterkey()   "> </td>
                       <td><button type="button" onclick="view()" id="btnS">검색</button> </td>
                    </td>
                </tr>
                <tr>
                    <td> <td>
                </tr>
        </table>
        </div>
        <div class="container"><p id='checkp'  data-toggle='modal' data-target='#vegantpModal'>  '자신의 비건 유형을 모르겠다면?' 클릭 </p> </div>
    </div>
</div>  






<div class="table container" id="Tcontainer">
<table class="table" id="table">
    <tbody>  
    </tbody>
</table>
</div>




<!--  -->


<style>

#modali{
    color:green;

}
.modaltable{

 background-color:#F3FDEC;   
 text-align: center;
 display: flex;
justify-content: center;
width: 768px;

}

.modal-content{
    background-color: #F3FDEC;
    font-family: S-CoreDream-3Light;

}

.modal-title{
    text-align: center;
}

#table.td:focus{
    background-color: rebeccapurple;


}

#Tcontainer{

    margin-top: 30px;
    display: flex;
    justify-content: center;

}
#homep {
    color: white;
    font-family: S-CoreDream-3Light;
    font-size: 40px;

}
#checkp{
    text-align: center;
    color: white;
    font-family: S-CoreDream-3Light;
    font-size: 20px;



}



.homesearch input#p{
  width: 580px;
  height: 70px;
  background: white;
  border: none;
  font-size: 15pt;
  /* color: #63717f; */
  padding-left: 45px;
  border-radius: 5px;
  font-family: S-CoreDream-3Light;
  color:green;
 
 
}

.test{
  display: flex;
  justify-content: center;

}


#btnS{
    width: 120px;
    height: 70px;
    font-family: S-CoreDream-3Light;
    background-color: white;
    color: green;
    border-radius: 5px;
    border: none;
    
   
}
.homesearch input#p:focus{
    outline: none;
    /* outline: solid 1px green; */
  
}

#btnS:focus, #closebtn:focus,#closebtn:hover{
    background-color: green;
    color: white;
    outline: none !important;
  
}
#closebtn:focus{
   box-shadow: none;
}
  



#table {
    text-align: center;
    border-radius: 10px;
    background-color: white;
    font-family: S-CoreDream-3Light;
    color:green;


}

#table:th {

    background-color: darkcyan;

}
.modal-body{

    text-align: center;
}

</style>




<!-- 안내 모달  -->



<div class="modal fade" id="vegantpModal" tabindex="-1" role="dialog" aria-labelledby="vegantpLabel"  >
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="veganModalLabel">비건 유형</h4>
        </div>
        <div class="modal-body">  
            <img src="{% static 'config/img/type.jpg' %}" width="250rem" height="250rem">
            
            </div>
        <div class="modal-footer">
	          <button type="button" class="btn btn-default" id="closebtn" data-dismiss="modal">닫기</button></div>
        </div>   
    </div></div>
    </div>     




<!--  -->


<!-- 상품 상세 모달  -->
<div class="modal fade" id="veganModal" tabindex="-1" role="dialog" aria-labelledby="veganModalLabel"  >
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="veganModalLabel">상품 상세</h4>
        </div>
        <div class="modal-body">     
       <table class=" modaltable"> 
          <tbody><tr> <th>제조사</th>  <td id="mcp"></td></tr>
          <tr> <th>상품명</th>  <td name="mpd" id="mpd"></td> </tr>
              <tr> <th>상품 사진</th>   <td> <img src="{% static 'search/img/vegan-food.png' %}" width="250rem" height="250rem"></td></tr> 	
            <tr> <th>첨가물</th>  <td name="mingri" id="mingri"></td></tr>	
            <tr> <td>  <i class="fas fa-leaf" id="modali"></i> </i> 
              </td><td name="mtypes" id="mtypes"> </td></tr>	               
       </tbody></table>
        <div class="modal-footer">
	          <button type="button" class="btn btn-default" id="closebtn" data-dismiss="modal">닫기</button></div>
        </div>   
    </div></div>
    </div>      

    
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
         <script>
         function view(){
            var pd=document.getElementById('p').value;
         const data =
             axios({
         url: 'http://openapi.foodsafetykorea.go.kr/api/a93411c41a8541e19060/C002/json/1/10/PRDLST_NM='+pd,
         method: 'get',
        
        });
         data.then(function (result) {
            let html=' ';  
            let test=' ';
            test=result.data;
            html +=`<tr><th> </th>`
            html +=`<th>제조사</th>`
            html +=`<th>상품명</th>`
            html +=`<th>품목</th></tr>`
                var len;
            if (result.data['C002']['row']==undefined){
                html=`<td> 검색 결과에 대한 데이터가 없습니다.</td>`
            }else{
                len=result.data['C002']['row'].length;
            for(let i=0;i<len;i++){       
             let num=i+1;
             let product= test['C002']['row'][i]['PRDLST_NM'];
             let Brand= test['C002']['row'][i]['BSSH_NM'];
            let ingredient=test['C002']['row'][i]['RAWMTRL_NM']; 
             let type=test['C002']['row'][i]['PRDLST_DCNM'];
                html+=`<tr id="producttr"  data-toggle='modal' data-brand="${Brand}" data-product="${product}" data-ingredient="${ingredient}" data-target='#veganModal'><td>${i+1}</td>`
                html+=`<td id="brand">${Brand}</td>`
                html+=`<td id="product"> ${product}</td>`
                html+=`<td id="ingredient" td style="visibility:hidden;display:none">${ingredient}</td>`
                html+=`<td id="type">${type}</td>`
                }
            }
            html+=`</tbody> </table>`
            result.data='';
            document.getElementById("table").innerHTML=html;
         })
        };
     
 














        // 모달창 
        //가져올 데이터+ 더 찾아서 넣기
 
        $('#veganModal').on('show.bs.modal', function(event) {   	
    
            cp=$(event.relatedTarget).data('brand');
            pd=$(event.relatedTarget).data('product');
            ingri=$(event.relatedTarget).data('ingredient');
            vt=$(event.relatedTarget).data('vt');
                console.log(cp+1);
                console.log($('#mcp').val)
            $('#mcp').text(cp);
            $("#mpd").text(pd);	
            $("#mingri").text(ingri);	
           // 1. 첨가물 
           console.log(ingri)
            var count = ingri.split(',').length;
            //2. 첨가물 배열  
             var ingriarray=ingri.split(',');
             
             var vt=['페스코','락토오보','락토','비건'];
                //계란 
            var eggs=['전란액','난황액','난백액','난백분','전란분','피단','알부민','계란흰자'];
                //생선  
            var fish=['냉동연육','까지가자미','가자미살','가자미','돔연육','부레풀','오징어','새우','달고기','오징어젓갈무침','조미건어포류','조미건어포류'];
                //우유 
            var mlik=['우유', '산양유', '전지분유',  '가당연유', '무당연유', '전지연유', '탈지연유','버터유', '농축유류', '유크림류', '버터류', 
             '치즈류', '분유류', '유청류', '유당', '유단백가수분해식품', '유함유가공품','연유'];
                //고기
            var meat=['소시지','햄','젤라틴','펩신','소고기','돼지고기','오리고기','비프분말','돼지뼈다귀','쇠고기혼합분말']                
            var vegan=['벌꿀','사양벌꿀']
            var excl=['원재료미등록','복합조미식품']
                //비건 -- 완전 채식
                //계란 우유 ok-락토 오보
                //락토--우유 ok
                //생선 달걀 우유 ok ->페스코
            console.log(ingriarray);
            console.log(fish)
            console.log(count)

        

            var check=false;	
            
            for(i=0;i<count;i++){
                for(var j=0;j<excl.length;j++){
                    if(ingriarray[i]==excl[j]){ //고기            
                        check=true;     
                        console.log(ingriarray[i]);
                        console.log(excl[j]);
                        vt=['데이터가 더 필요합니다...']
                        break; 
                        }
                    }
                }




            if(check!=true){	 
            for(i=0;i<count;i++){
                for(var j=0;j<meat.length;j++){
                    if(ingriarray[i]==meat[j]){ //고기            
                        check=true;     
                        console.log(ingriarray[i]);
                        console.log(meat[j]);
                        vt=['X']
                        break; 
                        }
                    }
                }
            }    

                if(check!=true){
                     for(i=0;i<count;i++){
                        for(var j=0;j<fish.length;j++){
                                if(ingriarray[i]==fish[j]){           
                                    check=true;     
                                    console.log(ingriarray[i]);
                                    console.log(fish[j]);
                                    vt=['페스코'];
                                    break; 
                                        }
                    }
                }
            
            };
                

            if(check!=true){
                for(var t=0;t<count;t++){
                      for(var m=0;m<mlik.length;m++){
                            if(ingriarray[t]==mlik[m]) {            
                                vt=['페스코','락토오보'];
                                console.log(mlik[m])
                                check=true;
                                break; 
                            }
                    }
                }
            };

            if(check!=true){
                     for(i=0;i<count;i++){
                        for(var j=0;j<eggs.length;j++){
                                if(ingriarray[i]==eggs[j]){           
                                    check=true;     
                                    console.log(ingriarray[i]);
                                    console.log(eggs[j]);
                                    vt=['페스코','락토오보'];
                                    break; 
                                        }
                    }
                }
            
            };

            if(check!=true){
                     for(i=0;i<count;i++){
                        for(var j=0;j<vegan.length;j++){
                                if(ingriarray[i]==vegan[j]){           
                                    check=true;     
                                    console.log(ingriarray[i]);
                                    console.log(vegan[j]);
                                    vt=['페스코','락토오보','락토'];
                                    break; 
                                        }
                    }
                }
            
            };




            
        
                $("#mtypes").text(vt);

            });


            
            function enterkey() {
        if (window.event.keyCode == 13) {
            view()
        }
    }
 



            

                 
                
               

         </script>


                 
{% endblock %}